.unlayer-page {
  font-family: arial,helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
}
.unlayer-page .u_body {
  min-height: unset !important;
}
.unlayer-page .u-row {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}
.unlayer-page .u-row .u-col {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.unlayer-page .u-row .u-col.u-col-100 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .unlayer-page .u-row:not(.no-stack) {
    flex-wrap: wrap;
  }
  .unlayer-page .u-row:not(.no-stack) .u-col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.unlayer-page .layout-mobile .u-row:not(.no-stack) {
  flex-wrap: wrap;
}
.unlayer-page .layout-mobile .u-row:not(.no-stack) .u-col {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
.unlayer-page body,
.unlayer-page html {
  padding: 0;
  margin: 0;
}
.unlayer-page html {
  box-sizing: border-box;
}
.unlayer-page *,
.unlayer-page :after,
.unlayer-page :before {
  box-sizing: inherit;
}
.unlayer-page html {
  font-size: 14px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.unlayer-page p {
  margin: 0;
}
.unlayer-page form .error-field {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.unlayer-page form .error-field input,
.unlayer-page form .error-field textarea {
  border-color: #a94442 !important;
  color: #a94442 !important;
}
.unlayer-page form .field-error {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: -20px;
  right: 10px;
}
.unlayer-page form .field-error:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ebcccc;
  border-width: 5px;
  margin-left: -5px;
}
.unlayer-page form .spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.unlayer-page form .spinner > div {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 2px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.unlayer-page form .spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s;
}
.unlayer-page form .spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@media (max-width: 480px) {
  .unlayer-page .hide-mobile {
    display: none !important;
  }
  .unlayer-page .container {
    max-width: 100% !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .unlayer-page .hide-tablet {
    display: none !important;
  }
}
@media (min-width: 481px) {
  .unlayer-page .hide-desktop {
    display: none !important;
  }
}
.unlayer-page .container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .unlayer-page .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .unlayer-page .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .unlayer-page .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .unlayer-page .container {
    max-width: 1140px;
  }
}
.unlayer-page a[onclick] {
  cursor: pointer;
}
.unlayer-page #u_body a {
  color: #0000ee;
  text-decoration: underline;
}
.unlayer-page #u_body a:hover {
  color: #0000ee;
  text-decoration: underline;
}
