.mobilites_container {
  margin-top: 30px;
}
.mobilites_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}
.mobilites_container .rightsidebar ul {
  list-style-type: none;
}
.nav-tertiary {
  margin-bottom: 33px;
  display: block !important;
}
.nav-tertiary ul {
  margin-right: -10px;
}
.nav-tertiary li {
  float: left;
  margin: 0 20px 10px 0;
  list-style-type: none;
}
.nav-tertiary a {
  display: block;
  text-decoration: none !important;
  border: 1px solid #183354;
  height: 40px;
  line-height: 38px;
  padding: 0 26px;
  font-size: 14px;
  font-weight: bold;
  color: #183354 !important;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
}
.nav-tertiary a:focus {
  color: #183354 !important;
  text-decoration: none;
}
.nav-tertiary li:hover a {
  background: #010305;
}
.nav-tertiary .current a,
.nav-tertiary a:hover {
  color: #fff !important;
  background: #183354;
  border-color: #183354;
}
a.link-annoncer {
  background-color: #183354;
  text-align: center;
  color: #fff !important;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  margin: 0 0 15px;
  border: 1px solid #183354;
  min-width: 250px;
  height: 45px;
  line-height: 43px;
  float: right;
}
a.link-annoncer:focus,
a.link-annoncer:active,
a.link-annoncer:hover {
  background: #fff;
  color: #183354 !important;
}
.list_articles {
  width: 100%;
}
.list_articles .article .container .date .libel a {
  color: inherit;
  text-decoration: none;
}
.list_articles .article .container .date .libel a:hover {
  text-decoration: underline !important;
}
.list_articles .global-pagination {
  text-align: right;
  margin-top: 69px;
}
.list_articles .global-pagination a,
.list_articles .global-pagination b {
  height: 40px;
}
@media (max-width: 992px) {
  .list_articles .global-pagination {
    text-align: center;
  }
}
.list_articles .global-pagination b,
.list_articles .global-pagination a:hover {
  border: 1px solid #183354;
  background: #fff;
  color: #183354;
  font-size: 14px;
  text-align: center;
  padding: 10px 16px;
  font-weight: normal;
}
.list_articles .global-pagination a {
  border: 1px solid #183354;
  background: #183354;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px 16px;
  margin-bottom: 15px;
}
